.card {
    border-radius: 3px;
    color: #939499;
    padding: 6px 12px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #f5f6f8;
    border: none;

    .card_header {
        color: #323338;
        img {
            cursor: unset;
        }
    }
}
