.chat_input_action {
    font-size: 14px;
    height: 32px;
    width: 33px;
    text-align: center;
    outline: 0;
    border: none;
    background: #f4f4f4;
    color: rgb(61, 61, 60);
    border-radius: 50%;

    &:hover {
        background: #e6e5e5;
    }

    &.active {
        color: gray;
    }
}
