// Breakpoints
$xs: 0;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

// Colors
$alabaster: #f8f7f7;
$gray: #8e8e8e;
$pink: #ed1c3c;
$athens-gray: #f5f6f8;
$storm-gray: #70727c;
$tuna: #323338;
$border-grey: #b6b5b5;
